#Box {
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px black dotted;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}
.circle {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display:inline-block ;
    transition-duration: 1s;
    transition-delay: 1s;
}
.circle:hover {
    background-color: black;
    
    border-radius: 20%;
}
#Hii {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
}
#Hii:hover {
    margin-top: 400px;
    background-color: pink;
}